#main {
  color: red;
}
#main p {
  color: gray;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.ft10 {
  font-size: 10px;
}

.ft11 {
  font-size: 11px;
}

.ft12 {
  font-size: 12px;
}

.ft13 {
  font-size: 13px;
}

.ft14 {
  font-size: 14px;
}

.cat-icon {
  background: url("cat.png");
}

.dog-icon {
  background: url("dog.png");
}

.tiger-icon {
  background: url("tiger.png");
}

.grid {
  float: left;
  width: 85px;
}
