$debugMode: true;
$x: 10;

#main {
	@if $debugMode == true {
		color: red;
	} @else {
		color: green;
	}
	
	p {
		@if $x > 20 {
			color: blue;
		} @else {
			color: gray;
		}
	}
}

@for $i from 10 through 14 {
	.fs#{$i} { font-size: #{$i}px; }
}

$j: 10;
@while $j <= 14 {
	.ft#{$j} { font-size: #{$j}px; }
	$j: $j + 1;
}

$animals: cat, dog, tiger;
@each $animal in $animals {
	.#{$animal}-icon {
		background: url("#{$animal}.png");
	}
}


@import "settings";
@import "functions";

.grid {
	float: left;
	width: getColumnWidth($totalWidth, $columnCount);
}


.msg {
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px;
	color: white;
}

.errorMsg {
	@extend .msg;
	background: red;
}

.warningMsg {
	@extend .msg;
	background: orange;
}


@mixin round($radius:4px) {
	border-radius: $radius;
}

#mixin {
	font-size: 12px;
	@include round(5px);
}
	
#mixin2 {
	@include round;
}