$baseFontSize: 14px;
$imgDir: "../img/";

#main {
	width: 90%;
//	background: url($imgDir + "bg.png");
	background: url("#{$imgDir}bg.png");
	p {
		font-size: $baseFontSize;
		.sub {
			font-size: $baseFontSize - 2px;
		}
	}
}