$debugMode: true;
$x: 10;

#main {
	@if $debugMode == true {
		color: red;
	} @else {
		color: green;
	}
	
	p {
		@if $x > 20 {
			color: blue;
		} @else {
			color: gray;
		}
	}
}

@for $i from 10 through 14 {
	.fs#{$i} { font-size: #{$i}px; }
}

$j: 10;
@while $j <= 14 {
	.ft#{$j} { font-size: #{$j}px; }
	$j: $j + 1;
}

$animals: cat, dog, tiger;
@each $animal in $animals {
	.#{$animal}-icon {
		background: url("#{$animal}.png");
	}
}


@import "settings";
@import "functions";

.grid {
	float: left;
	width: getColumnWidth($totalWidth, $columnCount);
}